@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Maven Pro', sans-serif;
  /* color: #ffffff; */
  color: black;
  font-size: 16px;
}

html,
body {
  height: 100%;
}

button {
  font-family: 'Titillium Web';
  color: white;
}

input,
textarea {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  text-indent: 10px;
  border: solid #fafafa 1px;
}
textarea {
  height: 200px !important;
}

h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 63.88px;
  margin: 20px 0;
  padding: 0;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 48.67px;
  margin: 20px 0;
  padding: 0;
}

h3 {
  color: var(--gc-white);
  font-weight: 400;
  font-size: 24px;
  line-height: 36.5px;
  margin: 20px 0;
  padding: 0;
}

p {
  margin: 20px 0;
  padding: 0;
}

/* mobile styles */
@media screen and (max-width: 1023px) {
  button {
    font-family: 'Titillium Web';
  }
  h1 {
    font-size: 34px;
    line-height: 49px;
    /* margin: 0 20px; */
  }

  h2 {
    font-size: 24px;
    line-height: 36.5px;
    /* margin: 0 20px; */
  }

  h3 {
    font-size: 22px;
    line-height: 33.46px;
    /* margin: 0 20px; */
  }
}
